<section routerLink="/mainPage" (click)="toggleBooleans()">
    <div class="positionheader">
        <app-header></app-header>
    </div>
    <div class="positionContent">
        <div class="buttons">
            <div class="buttonsPositionWidth">
                <div class="buttonsPosition">
                    <div routerLink="/summary" class="sidebarBtns"  [ngClass]="{'highlighted': clickCategory == 'summary'}" >
                        <img src="assets/img/menu_icons.svg" alt="">
                        <span (click)="selectComponent('summary'); checkBooleansSummary()" class="firstButton">Summary</span>
                    </div>
                    <div routerLink="/addTask" class="sidebarBtns" [ngClass]="{'highlighted': clickCategory == 'addTask'}">
                        <img src="assets/img/menu_icons2.svg" alt="">
                        <span (click)="selectComponent('addTask'); checkBooleansAddTask()">Add Task</span>
                    </div>
                    <div routerLink="/board" class="sidebarBtns" [ngClass]="{'highlighted': clickCategory == 'board'}">
                        <img src="assets/img/menu_icons1.svg" alt="">
                        <span (click)="selectComponent('board'); checkBooleansBoard()">Board</span>
                    </div>
                    <div routerLink="/contact" class="sidebarBtns" [ngClass]="{'highlighted': clickCategory == 'contact'}">
                        <img src="assets/img/menu_icons3.svg" alt="">
                        <span (click)="selectComponent('contact'); checkBooleansContacts()">Contact</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="components">
            <app-summary *ngIf="toggleService.selectedComponent === 'summary'"></app-summary>
            <app-add-task *ngIf="toggleService.selectedComponent === 'addTask'"></app-add-task>
            <app-board *ngIf="toggleService.selectedComponent === 'board'"></app-board>
            <app-contacts *ngIf="toggleService.selectedComponent === 'contact'"></app-contacts>
        </div>        
    </div>
</section>
