@import "../../../../styles.scss";

section{
    width: 100%;
    height: 220px;
    border-radius: 20px;
    border: 1px solid #176cff;
    background-color: white;
    @include displayFlex($j: space-between, $a: flex-start);
    flex-direction: column;
    padding: 12px;
    transition: .3s ease-in-out;
    &:hover{
        box-shadow: rgb(188, 214, 236) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    h1{
        color: #4589ff;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: larger;
        max-width: 260px;
    }
    .description{
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #a8a8a8;
        max-width: 260px;
    }
}

.technicalTask{
    border-radius: 12px;
    background: #ff7a00;
    padding: 4px;
    color: white;
    font-weight: 400;
}

.userStory{
    border-radius: 12px;
    background: #0ada1b;
    padding: 4px;
    color: white !important;
    font-weight: 400;
}


.selectedContactBox{
    width: 100%;
    @include displayFlex($j: space-between);
    .selectedContacts{
        margin-left: 12px;
        @include displayFlex($j: flex-start);
    }
}

.userNameBox{
    margin-left: -12px;
    @include displayFlex();
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    border-radius: 50%;
    .userBackground{
        border: 4px solid white;
        min-height: 32px;
        min-width: 32px;
        border-radius: 50%;
        @include displayFlex();
        color: white !important;
    }
}

.positionBar {
    width: 100%;
    height: auto;
    @include displayFlex($j: space-between);
  
    mat-progress-bar {
        background: #aed0ec !important;
        border-radius: 10px;
        color: #4589ff !important;
    }
    span{
        margin-left: 12px;
    }
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-track-height: 12px;
    --mdc-linear-progress-active-indicator-height: 12px;
}

  
  