<section (click)="openTaskCatd(id)">
    @if(category === 1){
        <span class="technicalTask">Technical Task</span>
    } @else {
        <span class="userStory">User Story</span>
    }

    @if (checkScreanWidth()) {
        <img src="assets/img/switchDirectionArrows.svg" alt="" class="mobileDragSwitch" (click)="openWindowToSwitshTask($event)">
        @if (id == toggleService.clickedTask) {
            <div class="smallBox">
                <span (click)="moveTo($event, 1)">TO DO</span>
                <span (click)="moveTo($event, 2)">IN PROGRESS</span>
                <span (click)="moveTo($event, 3)">AWAIT FEEDBACK</span>
                <span (click)="moveTo($event, 4)">DONE</span>
                <span (click)="closeSmallWindow($event)">CLOSE</span>
            </div>
        }
    }

    <h1>{{title}}</h1>
    <span class="description">{{description}}</span>

    <div class="positionBar">
        <mat-progress-bar mode="determinate" value="{{chackPercentage()}}" class="custom-progress-bar"></mat-progress-bar>
        <span>{{taskDone}}/{{checkAmountOfSubtasks()}}</span>
    </div>

    <div class="selectedContactBox">
        <div class="selectedContacts">
            @for(user of assignetTo; track $index;){
                <div class="userNameBox">
                    <span *ngIf="user.color!" [style.backgroundColor]="user.color!" class="userBackground"> 
                        {{getUserFirstLetter(user)}}{{getUserSecondLetter(user)}}
                    </span>
                </div>
            }
        </div>
        @if(priority === 1){
            <img src="assets/img/prio_baja.svg" alt="">
        } @else if(priority === 2){
            <img src="assets/img/prio_media.svg" alt="">
        } @else if(priority === 3){
            <img src="assets/img/prio_alta.svg" alt="">
        }
    </div>
</section>

<app-card 
    [category]="category"
    [assignetTo]="assignetTo"
    [createtBy]="createtBy"
    [date]="date"
    [description]="description"
    [priority]="priority"
    [subtasks]="subtasks"
    [title]="title"
    [id]="id"
    [ngClass]="{dBlock: toggleService.openWhiteBox , dNone: !toggleService.openWhiteBox}"
></app-card>